*{
    font-family: "Geist", sans-serif;
}
body{
    background-color: #F8FAFC;
}
.aperture{
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECE4FF;
    border-radius: 100%;
}